* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #3450a1;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  padding: 20px;
  position: relative;
  min-height: 100vh;
}